.container {
  align-items: center;
  position: relative;
  padding: 45px 40px;
  height: 365px;
}

.container_sentCode {
  padding: 45px 40px 100px 40px;
}

.title {
  text-align: center;
  margin: 0 0 40px;
  color: #ff2e65;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.body {
  padding: 0;
}

.form {
  margin: 0 auto;
  max-width: 414px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_sentCode {
  margin: 0 auto;
  justify-content: space-between;
}

.form_code {
  margin-top: 34px;
}

.input {
  padding: 10px 20px;
  width: 255px;
  height: 48px;
  color: #231f20;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  border-radius: 8px;
  border: 2px solid #e2e2e9;
  -webkit-appearance: none;
  appearance: none;
}

.input::placeholder {
  font-size: 12px;
  opacity: 0.6;
}

.input:focus::placeholder {
  opacity: 0;
}

.validationError {
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  padding: 7px 16px;
  color: #fff;
  border-radius: 8px;
  background: #ff2e65;
  bottom: 89px;
  right: 165px;
  position: absolute;
  transition: 0.6s;
}

.validationError_visible {
  opacity: 1;
  visibility: visible;
}

.validationError::before {
  position: absolute;
  top: -5px;
  left: 20px;
  content: "";
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-radius: 2px;
  background: #ff2e65;
}

.validationError span {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.validationError img {
  display: block;
  margin-right: 12px;
}

.validationError_secondModal {
  padding: 5px 12px;
  bottom: 52px;
  right: 327px;
}

.validationError_secondModal span {
  font-size: 8px;
}

.validationError_secondModal img {
  display: none;
}

.input_code {
  margin-right: 22px;
  padding: 10px 20px;
  width: 86px;
  height: 48px;
  color: #231f20;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  border-radius: 8px;
  border: 2px solid #e2e2e9;
}

.input_verifying {
  color: rgb(255, 255, 255, 1);
}

.input_disabled {
  width: 160px;
  height: 48px;
  border: 2px solid #fff;
  background: none;
}

.input_codeSent {
  width: 160px;
  height: 48px;
}

.changeNumberButton {
  padding: 0;
  background: none;
  border: none;
  border-bottom: 2px dashed #ff2e65;
  color: #ff2e65;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  min-width: 65px;
}

.label {
  position: relative;
  margin-right: 32px;
  color: #686466;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.label_code {
  margin-right: 69px;
}

.label_sentCode {
  margin-right: 0;
}

.closeButton {
  top: 0;
  right: -34px;
  position: absolute;
}

.bottom {
  gap: 24px;
  margin-top: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  padding: 14px 60px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  width: 224px;
  border-radius: 8px;
  background: #ff2e65;
  transition: 0.6s;
}

.button:hover {
  background: #cc2551;
}

.text {
  margin: 0;
  max-width: 319px;
  color: #9d9d9b;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

.text a {
  color: #9d9d9b;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  text-decoration-line: underline;
}

.spinner {
  top: 8px;
  right: -133px;
  position: absolute;
}
