.menu {

}

.menu__category {
  padding-top: 55px;
}

.menu__heading {
  padding: 0 0 22px;
  color: #ff2e65;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 30px;
}

.menu__item-label {
  top: 0;
  right: 0;
  position: absolute;
  text-transform: uppercase;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  background: #e61117;
  color: #fff;
  line-height: 1em;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__item-image {
  width: 100%;
  display: block;
}

.menu__item-heading {
  padding: 0;
  margin: 4px 0 0;
  color: #0e0c0d;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
}

.menu__item-description {
  padding: 0;
  margin: 18px 0 auto;
  color: #686466;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

.menu__item-footer {
  width: 100%;
  margin: 23px 0 0;
  display: flex;
  justify-content: space-between;
}

.menu__item-price {
  padding: 0;
  margin: 0;
  color: #231f20;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}

.menu__button {
  padding: 4px 24px;
  border: none;
  border-radius: 8px;
  background: #ff2e65;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  transition: .6s;
}

.menu__button:hover {
  background: #cc2551;
}