.label {
  position: relative;
  margin: 6px 0 9px;
  color: #231f20;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.input {
  border-radius: 8px;
  border: 2px solid #e3ecf5;
  background: #f3f3f7;
  padding: 10px 20px;
  width: 100%;
}

.spinner {
  top: 33px;
  right: -22px;
  position: absolute;
}

.changeInput {
  top: 30px;
  right: 20px;
  background: none;
  border: none;
  color: #ff2e65;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
}

.changeInput_disabled {
  color: #9d9d9b;
  opacity: 0.8;
}

.cancel {
  top: 30px;
  right: -101px;
  background: none;
  border: none;
  color: #ff2e65;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
}
