.container {
  padding-top: 28px;
  width: 100%;
}

.container_type_fixed {
  padding-top: 162px;
}

.containerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e3ecf5;
  margin: 0 auto;
}

.containerTopContent {
  width: 100%;
  max-width: 1110px;
}

.title {
  margin: 43px 0 33px;
  color: #ff2e65;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.imageContainer {
  width: 100%;
  max-width: 255px;
  padding: 33px 38px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.08);
}

.image {
  display: block;
  max-width: 100%;
  width: 121px;
  height: 117px;
  margin-bottom: 30px;
}

.text {
  color: #686466;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 114px;
}

.link {
  text-decoration: none;
  display: inline-block;
  color: #ff2e65;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 3px;
  border-bottom: 2px dashed #ff2e65;
  margin: 40px 0 40px;
}

.personalDataContainer {
  margin: 57px auto 0;
  width: 100%;
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.personalDataTitle {
  margin-bottom: 24px;
  color: #ff2e65;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.avatarTitle {
  color: #231f20;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 200% */
}

.avatarContainer {
  border-radius: 50%;
  border: 4px solid rgba(255, 46, 101, 0.7);
  overflow: hidden;
  margin: 6px 0 40px;
}

.avatar {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.buttons {
  margin-top: 24px;
}

.btn {
  color: #696f7a;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 12px 40px;
  border: none;
  border-radius: 8px;
  background: #e3ecf5;
  transition: 0.6s;
}

.btn_margin_left {
  margin-left: 20px;
}

.form {
  min-width: 330px;
  margin: 24px 0 0;
  display: flex;
  flex-direction: column;
}

.label {
  position: relative;
  margin: 6px 0 9px;
  color: #231f20;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.input {
  border-radius: 8px;
  border: 2px solid #e3ecf5;
  background: #f3f3f7;
  padding: 10px 20px;
  width: 100%;
}

.input_active {
  border: 2px solid black;
}

.warning {
  cursor: pointer;
  bottom: -20px;
  right: 0;
  color: #c90505;
  font-size: 10px;
  display: block;
  position: absolute;
  transition: 0.6s;
}

.warning:hover {
  color: #cc2551;
}

.input_notActivated {
  margin-top: 6px;
  border: 2px solid #c90505;
}

.inputPhone input {
  border-radius: 8px;
  border: 2px solid #e3ecf5;
  background: #f3f3f7;
  padding: 10px 20px;
  width: 100%;
}

.inputPhone_disabled > :first-child {
  display: none;
}

.subscribesContainer {
  margin: 30px auto 0;
  max-width: 1110px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 440px;
}

.subscribesTitle {
  color: #ff2e65;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.input_type_checkbox {
  display: none;
}

.customCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 22px;
  border: 2px solid #ff2e65;
  background-color: #fff;
  margin-right: 17px;
  cursor: pointer;
}

.customCheckboxChecked {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ff2e65;
}

.customCheckboxChecked {
  opacity: 1;
  transition: opacity 0.3s;
}

.customCheckboxNotChecked {
  opacity: 0;
  transition: opacity 0.3s;
}

.label_type_checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.label_type_checkbox::after {
  margin-left: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f2f5;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  content: 'i';
}

.logoutButtonContainer {
  margin: 30px auto 0;
  max-width: 1110px;
}

.btn:hover {
  color: #ff2e65;
}

.btn:disabled {
  color: #696f7a;
  opacity: 0.5;
}

.btn:disabled:hover {
  color: #696f7a;
}

.changeInput {
  top: 30px;
  right: 20px;
  background: none;
  border: none;
  color: #ff2e65;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
}

.changeInput_type_email {
  top: 37px;
}

.cancel {
  top: 30px;
  right: -101px;
  background: none;
  border: none;
  color: #ff2e65;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
}

.cancel_type_email {
  top: 37px;
}

.cancel:disabled {
  color: #9d9d9b;
  opacity: 0.8;
}
