.header {
    padding-top: 8px;
    width: 100%;
    max-width: 1110px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    max-width: 232px;
    text-align: center;
}

.header__wrapper-logo-and-info {
    width: 100%;
    max-width: 520px;
    display: flex;
    justify-content: space-between;
}

.header__wrapper-phone-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 422px;
}

.header__button-call {
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    padding: 7px 27px;
    color: #696F7A;
    background-color: #F3F3F7;
    border: none;
    border-radius: 28px;
    transition: .6s;
}

.header__button-call:hover {
    color: #FF2E65;
}

.header__phone-number {
    color: #FF2E65;
    font-size: 26px;
}